# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# dependencies
node_modules/

# production build
build/

# IDE
.idea/

# misc
.DS_Store
.env
.env.local
